pytorch_lightning==1.2.7
git+https://github.com/PetrochukM/PyTorch-NLP.git
torch==1.6.0
nltk==3.6.6
pandas==1.1.4
datasets==1.1.2
entmax==1.0
tqdm==4.49.0
numpy==1.21.0
ipdb==0.13.4
PyYAML==5.4.0
Cython==0.29.21
wandb==0.10.20
